

a {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}

/* Global Class */
.darkal{
    margin:0px;
    padding: 0px
}
.container {
    margin: 0 auto;
    padding: 0 2.4rem;
    width: 100%;
    max-width: 122.5rem;
}

.btn {
    padding: 1.6rem 3.2rem;
    border-radius: 4px;
}

.cta-btn {
    display: inline-block;
    margin-top: 2.4rem;
    background-color: #ffffff;
    color: #333333;
    text-transform: capitalize;
    font-size: 1.4rem;
    transition: all 0.5s;
}

.cta-btn:hover {
    background-color: #333333;
    color: #ffffff;
}

/* Responsive Navbar - Mobile first*/

header {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
}

.navbar-brand {
    color: #ffffff;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: #000;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    text-transform: uppercase;
    transform: translateX(-100%);
    transition: transform 0.5s;
}

.nav-link:hover {
    border-bottom: 3px solid transparent;
}

.active {
    font-weight: 700;
    border-bottom: 3px solid transparent;
}

.open .nav-list {
    transform: translateX(0);
}

.menu-toggle {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3.2rem;
    height: 3.2rem;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
}

.hamburger {
    width: 2.4rem;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    border: none;
    transition: all 0.7s ease-out;
}

.hamburger::before,
.hamburger::after {
    content: "";
    position: absolute;
    width: 2.4rem;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    border: none;
}

.hamburger::before {
    transform: translateY(-8px);
}

.hamburger::after {
    transform: translateY(8px);
}

/* Menu Toggle Animation */

.open .hamburger {
    background: transparent;
}

.open .hamburger::before {
    transform-origin: (0, 0);
    transform: rotate(45deg);
}

.open .hamburger::after {
    transform-origin: (0, 0);
    transform: rotate(-45deg);
}

/* Hero Section */

.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 100%;
    height: 100vh;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("../hero-bg.html") center no-repeat;
    background-size: cover;
    text-align: center;
}

.hero-heading {
    font-size: 3.2rem;
    text-transform: capitalize;
}

.hero-description {
    font-size: 1.4rem;
    color: #eeeeee;
    margin-top: 1.6rem;
}
.imgl{
    display: block;
}

/* Media Queries : Tablet */

@media screen and (min-width: 800px) {
    .nav-list {
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }
.tp67{
  margin: 0px;
  padding: 0px;
}

#topcanales{
  color: #fff;
  display: inline-block;
  color: #fff;
  width: 49%;
  padding: 5px;
  background-color: #000;
  border-radius: 60px;
  border: 2px solid #01579B;
}
  .modalContainer .modal-content {
      background-color: #000;
      margin: auto;
      padding: 20px;
      border: 1px solid lightgray;
      border-top: 10px solid #58abb7;
      width: 30%;
    }
body.dark .modalContainer .modal-content {
      background-color: silver;
      margin: auto;
      padding: 20px;
      width: 30%;
    }
body.dark  .topcontainer .container-modal {
       background-color: silver;
      margin: auto;
      padding: 10px;
      width: 30%;
    }
   .topcontainer .container-modal {
       background-color: #000;
      margin: auto;
      padding: 10px;
      width: 30%;
    }
#btnModal{
  width: 49%;
  padding: 5px;
  background-color: #000;
  border-radius: 60px;
  border: 2px solid #01579B;
}

#ms{
    position: absolute;
    padding: 0;
    top:100%;
    color: #fff;
    border:1px solid #CCC;
    background: rgba(255, 255, 255, 1);
    border-radius: 1px;
    width: 70%;
}
    .nav-link {
        margin-left: 4rem;
        font-size: 1.6rem;
        transition: all 0.1s;
    }
    .menu-toggle {
        display: none;
    }
    .imgl{
        display: none;
    }
    .darkal{
        width: 40%;
    }
}

@media screen and (min-width: 992px) {
    .hero-heading {
        font-size: 2.4em;
    }
    .hero-description {
        font-size: 1.1em;
    }
}
